* { box-sizing: border-box;
font-family: 'Roboto:700', sans-serif;
}

header {
  margin-bottom: 0%;
  padding-bottom: 0%;
  height: 60px;
}
li {
  display: inline-block;
  margin-left: 1%;
text-align: center;
  border: 1px solid;
  background-color: #D0D0D0;
  width: 15%;
  height: 30%;
color: #F5F5F5;
}
.nav_header {
  padding-top: 0px;

}
ul {
  margin-left: 27%;
  height: 50%;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  text-align: center;
  border: 1px solid;
  background-color: #282828;
  height: 50px;
  color: white;
}

.ig_title {
  border: 1px;
  background-color: #85EBE1;
  height: 30px;
}

.image_text {
  padding: 0px;
  border: 1px solid ;
  display: inline-block;
  background-color: #FFD700;
  width: 200px;
  height: 50px;
  text-align: center;
}

h5 {
  border: 5px solid;
  display: inline-block;
  background-color: black;
  width: 100%;
  color: white;
  text-align: center;
  height: 40px;
}



.image_gallery {
  margin-left: 10%;
  margin-right: 10%;
}

.image {
  width: 30%;
  float: left;
  padding: 10px;
}
